@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FFFFFF;
  line-height: 1.6em;
}

.btn-signup {
  border-radius: 10px;
  padding: .5em 1.5em;
  border: 1px solid #F53838;
  color: #F53838 !important;
  display: block;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: 500;
}

.btn-signup:hover {
  background: #F53838;
  color: #FFFFFF !important;
}

@media (min-width: 768px) {
  .btn-signup {
    padding: .3em 1.2em;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: .9em;
  }
  .btn-signup:hover {
    background: #F53838;
    color: #FFFFFF;
  }
}

.btn-primary {
  display: inline-block;
  font-size: .8em;
  font-weight: 500;
  background: #F53838;
  padding: .7em 0;
  width: 175px;
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 20px 30px -15px #f53838;
          box-shadow: 0 20px 30px -15px #f53838;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  width: 70%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFFFFF;
  padding: 1.5em 0;
  z-index: 998;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  display: inherit;
}

.navbar__brand img {
  width: 85%;
}

.navbar .toggle_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border-radius: 5px;
  padding: .3em .5em;
  border: 1px solid rgba(245, 56, 56, 0.7);
}

.navbar .toggle_menu i {
  font-size: 1.3em;
  color: #F53838;
}

.navbar__menu {
  display: none;
}

.navbar__button__item {
  display: none;
}

@media (min-width: 768px) {
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__button__item {
    display: block;
    margin-right: 30px;
  }
  .navbar__button__item a {
    font-size: .9em;
    font-weight: 500;
    color: #0B132A;
  }
}

@media (min-width: 1024px) {
  .navbar .toggle_menu {
    display: none;
  }
  .navbar__brand img {
    width: 150px;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__menu__item {
    margin-right: 30px;
  }
  .navbar__menu__item:last-of-type {
    margin-right: 0;
  }
  .navbar__menu__link {
    color: #4F5665;
  }
  .navbar__menu__link:hover {
    color: #0B132A;
  }
  .navbar__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__button__item:last-of-type {
    margin-right: 0px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  background: #FFFFFF;
  height: 100vh;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: 0.3s cubic-bezier(0.6, -0.09, 0.28, 1.18);
  transition: 0.3s cubic-bezier(0.6, -0.09, 0.28, 1.18);
  z-index: 999;
  overflow-y: auto;
}

.sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar__body {
  padding: 32px;
  height: 100%;
}

.sidebar .close-sidebar {
  display: block;
  text-align: right;
}

.sidebar .close-sidebar i {
  font-size: 1.7em;
  cursor: pointer;
  color: #F53838;
}

.sidebar__menu__item {
  width: 100%;
  padding: .5em .3em;
  margin-bottom: 1.4em;
}

.sidebar__menu__link {
  font-size: 1.2em;
  font-weight: 500;
  color: #4F5665;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sidebar__menu__link:hover {
  color: #393e49;
}

@media (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.hero {
  margin-top: 90px;
}

.hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.hero__info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero__info__title {
  line-height: 1.6;
  margin-top: 3rem;
  color: #0B132A;
}

.hero__info__title span {
  font-weight: 500;
}

.hero__info__pg {
  font-size: .9em;
  margin-bottom: 3rem;
  color: #4F5665;
}

.hero__info__pg span {
  font-weight: 500;
}

.hero__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .hero__info__title {
    font-size: 2.2em;
  }
  .hero__info__pg {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 50px;
    margin-right: 35px;
  }
  .hero__info__title {
    font-size: 2.9em;
  }
  .hero__info__pg {
    font-size: 1em;
  }
  .hero__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 50px;
    width: 50%;
  }
}

.info__app {
  margin: 100px 0;
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__app__item {
  text-align: center;
  padding: 1.5em;
}

.info__app__item__img {
  width: 70%;
}

.info__app__item__count {
  font-weight: bold;
  color: #0B132A;
  margin-bottom: 5px;
}

.info__app__item__name {
  color: #4F5665;
}

@media (min-width: 768px) {
  .info__app {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5em 0;
  }
  .info__app__item {
    width: calc(100%/3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 2px solid #EEEEF2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__app__item:last-of-type {
    border-right: none;
  }
  .info__app__item__img {
    width: 30%;
    margin-right: 20px;
  }
  .info__app__item__count, .info__app__item__name {
    text-align: left;
  }
  .info__app__item__count {
    font-size: 1.2em;
  }
  .info__app__item__name {
    font-size: .9em;
  }
}

@media (min-width: 1024px) {
  .info__app {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5em 0;
  }
  .info__app__item__img {
    width: 50px;
    margin-right: 30px;
  }
  .info__app__item__count {
    font-size: 1.5em;
  }
  .info__app__item__name {
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */